/* The top-level container Element */
#d3_taxonomy_vis_container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/* The release panel */
#d3_taxonomy_vis_container .release-panel {
    width: 100%;
}
.slider{
    position:relative;
    right:-100px;
    top:-20px;
}
.text_slider{
    position:relative;
    right:-100px;
    top:-30px;
}
#d3_taxonomy_vis_container .release-panel .release-control {
    border-radius: 10px;
}

#d3_taxonomy_vis_container .body-panel {
    align-items: flex-start;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    height: 100vh;
    justify-content: flex-start;
    width: 100vw;
}


#d3_taxonomy_vis_container .taxonomy-panel {
    height: 100%;
    width: 83%;
}

#d3_taxonomy_vis_container .node-text {
    /* font-size: 1.5rem; */
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
#d3_taxonomy_vis_container .legend-node-text {
    font-size: 1.5rem;
    /* /font-weight: bold;/ */
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    /* transform: rotateY(0deg) rotate(-45deg); */
    transform-origin: left left; 
}

/* The tooltip */
#d3_taxonomy_vis_container div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 2px;
    background: #f3f3ef;
    border: solid 1px #aaa;
    border-radius: 8px;
    opacity: 0;
}


#d3_taxonomy_vis_container div.tooltip:hover{
    opacity: 1;
    transition-delay: 1000;
    -moz-transition-delay: 1000;
}

#d3_taxonomy_vis_container .species-panel {
    background-color: #efefef;
    height: 100%;
    overflow-y: auto;

    /* min-width: 250px; */
    /* padding: 15px; */
    width: 15%;
}
#d3_taxonomy_vis_container .species-panel .parent-name {
    font-weight: bold;
    margin-bottom: 1.0rem;
}
#d3_taxonomy_vis_container .species-panel .species-list {
    align-items: flex-start;
    display: flex;
    font-style: italic;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
#d3_taxonomy_vis_container .species-panel .species-row {
    color: blue;
    margin-bottom: 0.5rem;
}
#d3_taxonomy_vis_container .species-panel .species-row:hover {
    cursor: pointer;
    text-decoration: underline;
}
