.vanish span:hover {
    background-color: #D1EDFF;
}

.vanish .h2 {
    color: #99D7FF;
}

.vanish {
    font-size: large;
    font-style: italic;
    color: #006600;

    width: 3000px;
    height: 2000px;
    overflow-x: hidden;
    overflow-y: auto;

    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    width: available;
    height: available;
}

.h2 {
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    color: rgba(122, 202, 108, 0.63);
}

body {
    width: available;
    height: available;
    overflow-x: hidden;
}

.space {
    width: 15%;
    height: available;
    background-color: white;
}

.color {
    background-color: white;
    width: 65%;
    float: left
}

.species {

    overflow-x: hidden;
    background-color: whitesmoke;
    width: 25%;
    float: right;
}

#test {
    overflow-y: hidden;
    overflow-x: hidden;
}

.color {
    background-color: white;
}

#dropdown {
    width: 50%;
}

.selection {
    width: 50%;
    border-radius: 10px;
}

h1 {
    font-family: var(--mt-pff);
    color: #008000;
    background-color: hsl(0, 0%, 100%);
    font-size: 75;
}

div.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 2px;
    background: #f3f3ef;
    border: solid 1px #aaa;
    border-radius: 8px;
}


.center {
    text-align: center;
}

.light-bg {
    background-color: whitesmoke;
}